.header {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem 3rem;
  overflow: hidden;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__link {
    text-decoration: none;
  }

  &__title{
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    text-shadow: 3px 3px 6px rgba(43,0,142,0.8);
    color: white;
  }

  &__nav {
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &-link{
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        margin-right: 1rem;
        text-shadow: 3px 3px 6px rgba(43,0,142,0.8);
    }
  }
}
