.hero {
  height: 40vh;

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    font-weight: lighter;
    right: 6rem;
    position: relative;
    text-shadow: 3px 3px 6px rgba(43,0,142,0.8);
    margin-bottom: 2rem;
  }

  &__input-container{
    position: relative;
    width: 80%;
  }

  &__genre-input{
    position: absolute;
    padding: 1rem;
    width: 35%;
    right: 15rem;
    }
    // &__dropdown-content {
    //     display: none;
    //     position: absolute;
    //     background-color: #f9f9f9;
    //     min-width: 160px;
    //     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    //     padding: 12px 16px;
    //     z-index: 1;
    //   }
}