@use './partials/typography' as *;
@use './partials/variables' as *;
@use './layout/header';
@use './layout/hero';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  // font-family: $mainFont;
  font-family: $fontCormorant;
  color: white;
  //gradient
    background: rgb(255,91,162);
    background: radial-gradient(circle, rgba(255,91,162,1) 0%, rgba(97,82,209,1) 100%);
}
